services:
  backend-dev:
    image: ghcr.io/awad-final-project/backend:{{ branch }}
    container_name: {{ app_name }}-backend
    restart: unless-stopped
    env_file:
      - {{ app_root }}/backend/.env.dev
    environment:
      - PORT=3000
      - NODE_ENV=development
    networks:
      - default
      - web

  frontend-dev:
    image: ghcr.io/awad-final-project/frontend:{{ branch }}
    container_name: {{ app_name }}-frontend
    restart: unless-stopped
    depends_on:
      - backend-dev
    networks:
      - default
      - web

  nginx:
    image: nginx:alpine
    container_name: {{ app_name }}-nginx
    restart: unless-stopped
    volumes:
      - {{ devops_dir }}/config/nginx/nginx.dev.traefik.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend-dev
      - frontend-dev
    networks:
      - default
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ app_name }}.rule=Host(`{{ domain_name }}`)"
      - "traefik.http.routers.{{ app_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ app_name }}.tls.certresolver=myresolver"
      - "traefik.http.services.{{ app_name }}.loadbalancer.server.port=80"
      # Redirect HTTP to HTTPS
      - "traefik.http.routers.{{ app_name }}-http.rule=Host(`{{ domain_name }}`)"
      - "traefik.http.routers.{{ app_name }}-http.entrypoints=web"
      - "traefik.http.routers.{{ app_name }}-http.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"

networks:
  web:
    external: true
  default:
    name: {{ app_name }}-network
