services:
  backend-dev:
    image: ghcr.io/awad-final-project/backend:{{ branch }}
    container_name: {{ app_name }}-backend
    restart: unless-stopped
    env_file:
      - {{ app_root }}/backend/.env.dev
    environment:
      - PORT=3000
      - NODE_ENV=development
    networks:
      - default
      - web

  frontend-dev:
    image: ghcr.io/awad-final-project/frontend:{{ branch }}
    container_name: {{ app_name }}-frontend
    restart: unless-stopped
    depends_on:
      - backend-dev
    networks:
      - default
      - web

  nginx:
    image: nginx:alpine
    container_name: {{ app_name }}-nginx
    restart: unless-stopped
    volumes:
      - {{ devops_dir }}/config/nginx/nginx.dev.conf:/etc/nginx/nginx.conf:ro
      - {{ devops_dir }}/config/nginx/ssl:/etc/nginx/ssl:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend-dev
      - frontend-dev
    networks:
      - default
      - web

networks:
  web:
    external: true
  default:
    name: {{ app_name }}-network
